
    <div>
        <mat-toolbar color="" class="toolbar">
            <div class="d-flex align-item-center">
                <button mat-button [matMenuTriggerFor]="menu" class="text text-primary"><span><i class="material-icons" style="margin-top: 5px;">list</i></span></button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>content 1</button>
                  <button mat-menu-item>content 2</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="menu" class="text text-primary"><span>GROUP BY TYPE </span><i class="material-icons">keyboard_arrow_down</i></button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item>content 1</button>
                  <button mat-menu-item>content 2</button>
                </mat-menu>
                <button mat-button [matMenuTriggerFor]="groupBy" class="text text-primary"><span>AND GROUP BY </span><i class="material-icons">keyboard_arrow_down</i></button>
                <mat-menu #groupBy="matMenu">
                    <mat-option [value]="null"></mat-option>
                    <mat-option *ngFor="let item of displayedColumns" (click)="transform(item)">
                      {{item}}
                    </mat-option>
                </mat-menu>
            </div>
            <div style="color: #007bff; " class="d-flex align-item-center">
                <input style=" width: 100%; " class="search" type="search" name="filter" (keyup)="applyFilter($event)" [(ngModel)]="searchValue" #searchbar id="filter" placeholder="Search for ******* "> THB <i class="material-icons" style="margin-top: 5px;">refresh</i>
            </div> 
        </mat-toolbar>
        
        
        <mat-divider>
        </mat-divider>



    <div class="mat-elevation-z8">
        <div *ngFor="let source of dataSource">
            <div *ngIf="source.name === 'all'"> 
                <table mat-table [dataSource]="source.record">

                <!-- Amount + currency type Column -->
                <ng-container matColumnDef="amount">
                  <th mat-header-cell *matHeaderCellDef> Amount </th>
                  <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>

                <!-- From Name (Place) Column -->
                <ng-container matColumnDef="from">
                  <th mat-header-cell *matHeaderCellDef> From </th>
                  <td mat-cell *matCellDef="let element"> {{element.from}} </td>
                </ng-container>

                <!-- To (pay) Column -->
                <ng-container matColumnDef="to">
                  <th mat-header-cell *matHeaderCellDef> To </th>
                  <td mat-cell *matCellDef="let element"> {{element.to}} </td>
                </ng-container>

                <!-- From IFSC Column -->
                <ng-container matColumnDef="ifsc">
                  <th mat-header-cell *matHeaderCellDef> IFSC </th>
                  <td mat-cell *matCellDef="let element"> {{element.ifsc}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="source.record"></tr>
                <tr mat-row *matRowDef="let row; columns: source;"></tr>
              </table>

              <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                             showFirstLastButtons
                             aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
            <div ngIf="source.name !== 'all'">
                <mat-accordian>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>{{source.name}}</mat-panel-title>
                        </mat-expansion-panel-header>

                        <table mat-table [dataSource]="source.record">

                        <!-- Amount + currency type Column -->
                        <ng-container matColumnDef="amount">
                          <th mat-header-cell *matHeaderCellDef> Amount </th>
                          <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                        </ng-container>

                        <!-- From Name (Place) Column -->
                        <ng-container matColumnDef="from">
                          <th mat-header-cell *matHeaderCellDef> From </th>
                          <td mat-cell *matCellDef="let element"> {{element.from}} </td>
                        </ng-container>

                        <!-- To (pay) Column -->
                        <ng-container matColumnDef="to">
                          <th mat-header-cell *matHeaderCellDef> To </th>
                          <td mat-cell *matCellDef="let element"> {{element.to}} </td>
                        </ng-container>

                        <!-- From IFSC Column -->
                        <ng-container matColumnDef="ifsc">
                          <th mat-header-cell *matHeaderCellDef> IFSC </th>
                          <td mat-cell *matCellDef="let element"> {{element.ifsc}} </td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="status">
                          <th mat-header-cell *matHeaderCellDef> Status </th>
                          <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="source.record"></tr>
                        <tr mat-row *matRowDef="let row; columns: source;"></tr>
                      </table>

                      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                                     showFirstLastButtons
                                     aria-label="Select page of periodic elements">
                      </mat-paginator>
                  </mat-expansion-panel>
                </mat-accordian>
            </div> 
        </div>
    </div>




    </div>
