<div class="container">
  <div class="row" style="border-bottom: 1px solid #c6bcbc; border-top: 1px solid #c6bcbc; background-color: whitesmoke;">
    <div class="col-6 text-center" (click)="nameSort(); commmon('namesort')">
      Name
      <span *ngIf="isNameSort; else elseTemplate">
        <mat-icon class="sort-icon">arrow_upward</mat-icon> </span
      ><ng-template #elseTemplate>
        <mat-icon class="sort-icon">arrow_downward</mat-icon>
      </ng-template>
    </div>
    <div
      class="col-6 text-center"
      (click)="transactionSort(); commmon('datesort')"
    >
      Last transaction<span *ngIf="isTransactionSort; else elseTemplate">
        <mat-icon class="sort-icon">arrow_upward</mat-icon> </span
      ><ng-template #elseTemplate>
        <mat-icon class="sort-icon">arrow_downward</mat-icon>
      </ng-template>
    </div>
  </div>
  <div>

    <div class="row">
      <div class="col-12" *ngFor="let account of dataSource">
        <div class="pt-3" (click)="sentResponseToPay(account)">
          <mat-accordion>
            <mat-expansion-panel hideToggle (closed)="true">
              <mat-expansion-panel-header style="height: 150px">
                <mat-panel-title>
                  <div style="display:flex; font-size: 10px;">
                  <div>
                  <div>
                    {{ account["userName"] }}
                  </div>
                  <br>
                  <div>
                    {{ account["accountName"] }}
                  </div>
                  </div>
                  <div style="padding-left: 83px;">
                    <mat-icon style="padding-top: 10px;font-size: initial;">alarm</mat-icon>
                    {{ account["entryTime"] |date }}
                  </div>
                  </div>
                </mat-panel-title>
                <!-- <mat-panel-description>
                  This is a summary of the content
                </mat-panel-description> -->
              </mat-expansion-panel-header>
              <p>This is the primary content of the panel.</p>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
     <div class="row">
      <div class="col-12" >
          <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="changepage($event)" aria-label="Select page">
           </mat-paginator>
      </div>
    </div>
  </div>
</div>

